<!DOCTYPE html>
<html>
<head>
  <title>Fbsync</title>
  <%= stylesheet_link_tag    "fbsync/application", :media => "all" %>
  <%= javascript_include_tag "fbsync/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
